.idea
venvRevitAPI
FamilliesTools.tab/Utils.panel/External.stack/Dolibar.smartbutton/bundle.yaml
FamilliesTools.tab/Utils.panel/External.stack/Nextcloud.smartbutton/bundle.yaml
**FERMI_TAB.tab/WPF
FERMI_TAB.tab/WPF/WpfApp/.vs/WpfApp/v17/.suo
